In [1]:
# Importing the necessary libraries
import numpy as np 
import pandas as pd

In [2]:
# Loading the data from the .csv file
df = pd.read_csv(r"C:\Users\kiran\OneDrive\Desktop\customer_signups.csv")
print("Dataset of customer_signups \n")
df

Dataset of customer_signups

,customer_id,name,email,signup_date,source,region,plan_selected,marketing_opt_in,age,gender
0,CUST00000,Joshua Bryant,NaN,NaN,Instagram,NaN,basic,No,34,Female
1,CUST00001,Nicole Stewart,nicole1@example.com,02-01-24,LinkedIn,West,basic,Yes,29,Male
2,CUST00002,Rachel Allen,rachel2@example.com,03-01-24,Google,North,PREMIUM,Yes,34,Non-Binary
3,CUST00003,Zachary Sanchez,zachary3@mailhub.org,04-01-24,YouTube,NaN,Pro,No,40,Male
4,CUST00004,NaN,matthew4@mailhub.org,05-01-24,LinkedIn,West,Premium,No,25,Other
...,...,...,...,...,...,...,...,...,...,...
295,CUST00295,Gary Smith,gary95@example.com,22-10-24,Google,West,PREMIUM,Yes,40,NaN
296,CUST00296,Anthony Roberts,anthony96@mailhub.org,23-10-24,Google,Central,Basic,Yes,25,Female
297,CUST00297,Timothy Mclaughlin,NaN,24-10-24,Instagram,West,Basic,Yes,60,NaN
298,CUST00298,Justin Mcintyre,justin98@mailhub.org,25-10-24,YouTube,South,Premium,No,53,male
299,CUST00299,Mr. Bruce Bridges,mr.99@example.com,26-10-24,NaN,North,Premium,Yes,29,Male

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customer_id       298 non-null    object
 1   name              291 non-null    object
 2   email             266 non-null    object
 3   signup_date       298 non-null    object
 4   source            291 non-null    object
 5   region            270 non-null    object
 6   plan_selected     292 non-null    object
 7   marketing_opt_in  291 non-null    object
 8   age               288 non-null    object
 9   gender            292 non-null    object
dtypes: object(10)
memory usage: 23.6+ KB

In [4]:
# Cleaning the data
# Identifying missing values 

print("Missing values in the dataset: \n", df.isnull().sum())

Missing values in the dataset:
 customer_id          2
name                 9
email               34
signup_date          2
source               9
region              30
plan_selected        8
marketing_opt_in     9
age                 12
gender               8
dtype: int64

In [5]:
# Percentage of missing values 
missing_values = (df.isnull().sum() / len(df)) * 100
print("Percentage of missing values \n", missing_values)

Percentage of missing values
 customer_id          0.666667
name                 3.000000
email               11.333333
signup_date          0.666667
source               3.000000
region              10.000000
plan_selected        2.666667
marketing_opt_in     3.000000
age                  4.000000
gender               2.666667
dtype: float64

In [6]:
# Type of data 
print("Type of data: \n", df.dtypes)

Type of data:
 customer_id         object
name                object
email               object
signup_date         object
source              object
region              object
plan_selected       object
marketing_opt_in    object
age                 object
gender              object
dtype: object

In [7]:
# Removing duplicate entries from the dataset based on the 'customer_id'
df = df.drop_duplicates()
df

,customer_id,name,email,signup_date,source,region,plan_selected,marketing_opt_in,age,gender
0,CUST00000,Joshua Bryant,NaN,NaN,Instagram,NaN,basic,No,34,Female
1,CUST00001,Nicole Stewart,nicole1@example.com,02-01-24,LinkedIn,West,basic,Yes,29,Male
2,CUST00002,Rachel Allen,rachel2@example.com,03-01-24,Google,North,PREMIUM,Yes,34,Non-Binary
3,CUST00003,Zachary Sanchez,zachary3@mailhub.org,04-01-24,YouTube,NaN,Pro,No,40,Male
4,CUST00004,NaN,matthew4@mailhub.org,05-01-24,LinkedIn,West,Premium,No,25,Other
...,...,...,...,...,...,...,...,...,...,...
295,CUST00295,Gary Smith,gary95@example.com,22-10-24,Google,West,PREMIUM,Yes,40,NaN
296,CUST00296,Anthony Roberts,anthony96@mailhub.org,23-10-24,Google,Central,Basic,Yes,25,Female
297,CUST00297,Timothy Mclaughlin,NaN,24-10-24,Instagram,West,Basic,Yes,60,NaN
298,CUST00298,Justin Mcintyre,justin98@mailhub.org,25-10-24,YouTube,South,Premium,No,53,male
299,CUST00299,Mr. Bruce Bridges,mr.99@example.com,26-10-24,NaN,North,Premium,Yes,29,Male

There are no duplicate entries

In [8]:
df.columns

Index(['customer_id', 'name', 'email', 'signup_date', 'source', 'region',
       'plan_selected', 'marketing_opt_in', 'age', 'gender'],
      dtype='object')

In [9]:
# Structure of the dataframe
print("Structure of the dataset: \n", df.shape)

Structure of the dataset:
 (300, 10)

In [10]:
# Conversion of sigup_date to datetime
df['signup_date'] = pd.to_datetime(df['signup_date'])
df

ParserError: Unknown string format: not a date present at position 120

While converting to datetime, getting an error as in the position 120. There is no date format present, but 'not a date' is present. Refer below;

In [11]:
print(df.loc[120, 'signup_date'])

not a date

In [12]:
# Removing all indices where the 'signup_date' is 'not a date'
for x in df.index:
    if df.loc[x, "signup_date"] == 'not a date':
        df.drop(x, inplace = True)

df

,customer_id,name,email,signup_date,source,region,plan_selected,marketing_opt_in,age,gender
0,CUST00000,Joshua Bryant,NaN,NaN,Instagram,NaN,basic,No,34,Female
1,CUST00001,Nicole Stewart,nicole1@example.com,02-01-24,LinkedIn,West,basic,Yes,29,Male
2,CUST00002,Rachel Allen,rachel2@example.com,03-01-24,Google,North,PREMIUM,Yes,34,Non-Binary
3,CUST00003,Zachary Sanchez,zachary3@mailhub.org,04-01-24,YouTube,NaN,Pro,No,40,Male
4,CUST00004,NaN,matthew4@mailhub.org,05-01-24,LinkedIn,West,Premium,No,25,Other
...,...,...,...,...,...,...,...,...,...,...
295,CUST00295,Gary Smith,gary95@example.com,22-10-24,Google,West,PREMIUM,Yes,40,NaN
296,CUST00296,Anthony Roberts,anthony96@mailhub.org,23-10-24,Google,Central,Basic,Yes,25,Female
297,CUST00297,Timothy Mclaughlin,NaN,24-10-24,Instagram,West,Basic,Yes,60,NaN
298,CUST00298,Justin Mcintyre,justin98@mailhub.org,25-10-24,YouTube,South,Premium,No,53,male
299,CUST00299,Mr. Bruce Bridges,mr.99@example.com,26-10-24,NaN,North,Premium,Yes,29,Male

In [13]:
# Now converting 'signup_date' to 'datetime'
df['signup_date'] = pd.to_datetime(df['signup_date'])
print("Conversion to 'datetime' format \n")
df

Conversion to 'datetime' format

,customer_id,name,email,signup_date,source,region,plan_selected,marketing_opt_in,age,gender
0,CUST00000,Joshua Bryant,NaN,NaT,Instagram,NaN,basic,No,34,Female
1,CUST00001,Nicole Stewart,nicole1@example.com,2024-02-01,LinkedIn,West,basic,Yes,29,Male
2,CUST00002,Rachel Allen,rachel2@example.com,2024-03-01,Google,North,PREMIUM,Yes,34,Non-Binary
3,CUST00003,Zachary Sanchez,zachary3@mailhub.org,2024-04-01,YouTube,NaN,Pro,No,40,Male
4,CUST00004,NaN,matthew4@mailhub.org,2024-05-01,LinkedIn,West,Premium,No,25,Other
...,...,...,...,...,...,...,...,...,...,...
295,CUST00295,Gary Smith,gary95@example.com,2024-10-22,Google,West,PREMIUM,Yes,40,NaN
296,CUST00296,Anthony Roberts,anthony96@mailhub.org,2024-10-23,Google,Central,Basic,Yes,25,Female
297,CUST00297,Timothy Mclaughlin,NaN,2024-10-24,Instagram,West,Basic,Yes,60,NaN
298,CUST00298,Justin Mcintyre,justin98@mailhub.org,2024-10-25,YouTube,South,Premium,No,53,male
299,CUST00299,Mr. Bruce Bridges,mr.99@example.com,2024-10-26,NaN,North,Premium,Yes,29,Male

In [14]:
# Handling missing values 
# Filling the entries with 'NaN' with blank space 
df = df.fillna('')

print("Filling the NaN values with blank space \n")
df

Filling the NaN values with blank space

,customer_id,name,email,signup_date,source,region,plan_selected,marketing_opt_in,age,gender
0,CUST00000,Joshua Bryant,,NaT,Instagram,,basic,No,34,Female
1,CUST00001,Nicole Stewart,nicole1@example.com,2024-02-01,LinkedIn,West,basic,Yes,29,Male
2,CUST00002,Rachel Allen,rachel2@example.com,2024-03-01,Google,North,PREMIUM,Yes,34,Non-Binary
3,CUST00003,Zachary Sanchez,zachary3@mailhub.org,2024-04-01,YouTube,,Pro,No,40,Male
4,CUST00004,,matthew4@mailhub.org,2024-05-01,LinkedIn,West,Premium,No,25,Other
...,...,...,...,...,...,...,...,...,...,...
295,CUST00295,Gary Smith,gary95@example.com,2024-10-22,Google,West,PREMIUM,Yes,40,
296,CUST00296,Anthony Roberts,anthony96@mailhub.org,2024-10-23,Google,Central,Basic,Yes,25,Female
297,CUST00297,Timothy Mclaughlin,,2024-10-24,Instagram,West,Basic,Yes,60,
298,CUST00298,Justin Mcintyre,justin98@mailhub.org,2024-10-25,YouTube,South,Premium,No,53,male
299,CUST00299,Mr. Bruce Bridges,mr.99@example.com,2024-10-26,,North,Premium,Yes,29,Male

In [15]:
# Dropping the rows with empty values 
# Dropping the rows with empty values in the email column 
for x in df.index: 
    if df.loc[x, "email"] == '':
        df.drop(x, inplace = True)

df

,customer_id,name,email,signup_date,source,region,plan_selected,marketing_opt_in,age,gender
1,CUST00001,Nicole Stewart,nicole1@example.com,2024-02-01,LinkedIn,West,basic,Yes,29,Male
2,CUST00002,Rachel Allen,rachel2@example.com,2024-03-01,Google,North,PREMIUM,Yes,34,Non-Binary
3,CUST00003,Zachary Sanchez,zachary3@mailhub.org,2024-04-01,YouTube,,Pro,No,40,Male
4,CUST00004,,matthew4@mailhub.org,2024-05-01,LinkedIn,West,Premium,No,25,Other
5,CUST00005,John Gonzales,john5@mailhub.org,2024-06-01,Facebook,South,Premium,No,34,Other
...,...,...,...,...,...,...,...,...,...,...
294,CUST00294,Mrs. Jessica Smith,mrs.94@example.com,2024-10-21,Google,South,PRO,Yes,29,Other
295,CUST00295,Gary Smith,gary95@example.com,2024-10-22,Google,West,PREMIUM,Yes,40,
296,CUST00296,Anthony Roberts,anthony96@mailhub.org,2024-10-23,Google,Central,Basic,Yes,25,Female
298,CUST00298,Justin Mcintyre,justin98@mailhub.org,2024-10-25,YouTube,South,Premium,No,53,male
299,CUST00299,Mr. Bruce Bridges,mr.99@example.com,2024-10-26,,North,Premium,Yes,29,Male

In [16]:
# Dropping the rows with empty values in the region column 
for x in df.index: 
    if df.loc[x, "region"] == '':
        df.drop(x, inplace = True)

df

,customer_id,name,email,signup_date,source,region,plan_selected,marketing_opt_in,age,gender
1,CUST00001,Nicole Stewart,nicole1@example.com,2024-02-01,LinkedIn,West,basic,Yes,29,Male
2,CUST00002,Rachel Allen,rachel2@example.com,2024-03-01,Google,North,PREMIUM,Yes,34,Non-Binary
4,CUST00004,,matthew4@mailhub.org,2024-05-01,LinkedIn,West,Premium,No,25,Other
5,CUST00005,John Gonzales,john5@mailhub.org,2024-06-01,Facebook,South,Premium,No,34,Other
6,CUST00006,Crystal Mason,crystal6@mailhub.org,2024-07-01,YouTube,North,UnknownPlan,Yes,40,male
...,...,...,...,...,...,...,...,...,...,...
294,CUST00294,Mrs. Jessica Smith,mrs.94@example.com,2024-10-21,Google,South,PRO,Yes,29,Other
295,CUST00295,Gary Smith,gary95@example.com,2024-10-22,Google,West,PREMIUM,Yes,40,
296,CUST00296,Anthony Roberts,anthony96@mailhub.org,2024-10-23,Google,Central,Basic,Yes,25,Female
298,CUST00298,Justin Mcintyre,justin98@mailhub.org,2024-10-25,YouTube,South,Premium,No,53,male
299,CUST00299,Mr. Bruce Bridges,mr.99@example.com,2024-10-26,,North,Premium,Yes,29,Male

In [17]:
# Code to answer the second business question. 
# 2. Which region shows signs of missing or incomplete data?
df1 = df
df1[df1['region'].str.contains('West')]

,customer_id,name,email,signup_date,source,region,plan_selected,marketing_opt_in,age,gender
1,CUST00001,Nicole Stewart,nicole1@example.com,2024-02-01,LinkedIn,West,basic,Yes,29,Male
4,CUST00004,,matthew4@mailhub.org,2024-05-01,LinkedIn,West,Premium,No,25,Other
8,CUST00008,Bianca Morris,bianca8@example.com,2024-09-01,Referral,West,Pro,Yes,25,male
15,CUST00015,Anthony Anderson,anthony15@example.com,2024-01-16,Referral,West,PREMIUM,Yes,47,FEMALE
29,CUST00029,Julia Morales,julia29@mailhub.org,2024-01-30,Google,West,Pro,No,21,Female
30,CUST00030,,caitlin30@inboxmail.net,2024-01-31,YouTube,West,Premium,No,40,Other
31,CUST00031,Keith Davis,keith31@mailhub.org,2024-01-02,Google,West,PREMIUM,Yes,40,Female
32,CUST00032,Paul Morse,paul32@example.com,2024-02-02,LinkedIn,West,PREMIUM,No,29,male
50,CUST00050,Monique Rodriguez,monique50@inboxmail.net,2024-02-20,Instagram,West,Premium,No,47,FEMALE
52,CUST00052,Courtney Mclaughlin,courtney52@mailhub.org,2024-02-22,YouTube,West,Pro,Yes,25,FEMALE
55,CUST00055,Kimberly Powell,kimberly55@mailhub.org,2024-02-25,Referral,West,PREMIUM,No,40,Other
57,CUST00057,Marissa Holland,marissa57@mailhub.org,2024-02-27,Google,West,PREMIUM,Yes,29,FEMALE
80,CUST00080,Charles Wright,charles80@inboxmail.net,NaT,YouTube,West,PREMIUM,Yes,21,Female
91,CUST00091,Melissa White,melissa91@example.com,2024-01-04,,West,Pro,Yes,40,male
93,CUST00093,Anna Meza,anna93@example.com,2024-03-04,??,West,Pro,Yes,40,Other
103,CUST00103,Jennifer Reed,jennifer3@mailhub.org,2024-04-13,LinkedIn,West,Basic,No,25,FEMALE
124,CUST00124,Samuel Bautista,samuel24@example.com,2024-04-05,Facebook,West,Pro,Yes,60,Other
128,CUST00128,Leslie Kennedy,leslie28@inboxmail.net,2024-08-05,Referral,West,PREMIUM,No,29,Male
129,CUST00129,Ashley Francis,ashley29@example.com,2024-09-05,Referral,West,Pro,No,unknown,
133,CUST00133,John Brooks,john33@mailhub.org,2024-05-13,Instagram,West,PREMIUM,No,40,Other
138,CUST00138,Katie Gonzalez,katie38@example.com,2024-05-18,YouTube,West,Premium,Yes,40,FEMALE
142,CUST00142,Barbara Vincent,barbara42@mailhub.org,2024-05-22,??,West,Premium,No,,male
146,CUST00146,Dana Jones,dana46@mailhub.org,2024-05-26,Instagram,West,basic,Yes,53,Male
164,CUST00164,Julie Schneider,julie64@mailhub.org,2024-06-13,Referral,West,Premium,Yes,40,123
194,CUST00194,Rachel Fernandez,rachel94@mailhub.org,2024-07-13,YouTube,West,Basic,No,40,Male
202,CUST00202,Donald Underwood,donald2@example.com,2024-07-21,Referral,West,basic,Yes,40,FEMALE
203,CUST00203,Kevin Brown,kevin3@mailhub.org,2024-07-22,Instagram,West,Basic,,29,FEMALE
211,CUST00211,Lisa Taylor,lisa11@mailhub.org,2024-07-30,LinkedIn,West,PRO,No,29,Female
213,CUST00213,Spencer Williams,spencer13@inboxmail.net,2024-01-08,LinkedIn,West,PRO,No,34,Male
218,CUST00218,Jared Smith,jared18@example.com,2024-06-08,Google,West,PRO,Yes,29,Non-Binary
222,CUST00222,Alexander Bradley,alexander22@example.com,2024-10-08,Facebook,West,PREMIUM,No,34,male
224,CUST00224,Garrett Mcmahon,garrett24@example.com,2024-12-08,Referral,West,,No,21,FEMALE
236,CUST00236,Savannah Smith,savannah36@inboxmail.net,2024-08-24,Instagram,West,Premium,No,29,Male
238,CUST00238,Misty Blair,misty38@example.com,2024-08-26,Instagram,West,Premium,Yes,53,Male
255,CUST00255,Cheryl Scott,cheryl55@mailhub.org,2024-12-09,YouTube,West,Premium,No,40,Other
257,CUST00257,Eric Atkinson,eric57@mailhub.org,2024-09-14,Referral,West,Pro,No,25,male
258,CUST00258,Paul Jackson,paul58@example.com,2024-09-15,Google,West,PRO,No,21,male
266,CUST00266,Christopher Hawkins,christopher66@mailhub.org,2024-09-23,??,West,Basic,No,53,Other
272,CUST00272,Eric Mercado,eric72@inboxmail.net,2024-09-29,YouTube,West,,Yes,40,Female
287,,Antonio Hammond,antonio87@inboxmail.net,2024-10-14,Instagram,West,prem,Yes,25,FEMALE
289,CUST00289,Daniel Dunn,daniel89@example.com,2024-10-16,Referral,West,Basic,No,,male
295,CUST00295,Gary Smith,gary95@example.com,2024-10-22,Google,West,PREMIUM,Yes,40,

In [18]:
print("Missing data in the West region: \n", (df1[df1['region'].str.contains('West')] =="").sum().sum())

Missing data in the West region:
 11

In [19]:
print("Missing data in the East region: \n", (df1[df1['region'].str.contains('East')] =="").sum().sum())

Missing data in the East region:
 8

In [20]:
print("Missing data in the North region: \n", (df1[df1['region'].str.contains('North')] =="").sum().sum())

Missing data in the North region:
 11

In [21]:
print("Missing data in the South region: \n", (df1[df1['region'].str.contains('South')] =="").sum().sum())

Missing data in the South region:
 9

In [22]:
print("Missing data in the Central region: \n", (df1[df1['region'].str.contains('Central')] =="").sum().sum())

Missing data in the Central region:
 4

In [23]:
# Dropping the rows with empty values in the age column 
for x in df.index: 
    if df.loc[x, "age"] == '':
        df.drop(x, inplace = True)

df

,customer_id,name,email,signup_date,source,region,plan_selected,marketing_opt_in,age,gender
1,CUST00001,Nicole Stewart,nicole1@example.com,2024-02-01,LinkedIn,West,basic,Yes,29,Male
2,CUST00002,Rachel Allen,rachel2@example.com,2024-03-01,Google,North,PREMIUM,Yes,34,Non-Binary
4,CUST00004,,matthew4@mailhub.org,2024-05-01,LinkedIn,West,Premium,No,25,Other
5,CUST00005,John Gonzales,john5@mailhub.org,2024-06-01,Facebook,South,Premium,No,34,Other
6,CUST00006,Crystal Mason,crystal6@mailhub.org,2024-07-01,YouTube,North,UnknownPlan,Yes,40,male
...,...,...,...,...,...,...,...,...,...,...
294,CUST00294,Mrs. Jessica Smith,mrs.94@example.com,2024-10-21,Google,South,PRO,Yes,29,Other
295,CUST00295,Gary Smith,gary95@example.com,2024-10-22,Google,West,PREMIUM,Yes,40,
296,CUST00296,Anthony Roberts,anthony96@mailhub.org,2024-10-23,Google,Central,Basic,Yes,25,Female
298,CUST00298,Justin Mcintyre,justin98@mailhub.org,2024-10-25,YouTube,South,Premium,No,53,male
299,CUST00299,Mr. Bruce Bridges,mr.99@example.com,2024-10-26,,North,Premium,Yes,29,Male

In [24]:
# Dropping the rows with empty values in the plan_selected column 
for x in df.index: 
    if df.loc[x, "plan_selected"] == '':
        df.drop(x, inplace = True)

df

,customer_id,name,email,signup_date,source,region,plan_selected,marketing_opt_in,age,gender
1,CUST00001,Nicole Stewart,nicole1@example.com,2024-02-01,LinkedIn,West,basic,Yes,29,Male
2,CUST00002,Rachel Allen,rachel2@example.com,2024-03-01,Google,North,PREMIUM,Yes,34,Non-Binary
4,CUST00004,,matthew4@mailhub.org,2024-05-01,LinkedIn,West,Premium,No,25,Other
5,CUST00005,John Gonzales,john5@mailhub.org,2024-06-01,Facebook,South,Premium,No,34,Other
6,CUST00006,Crystal Mason,crystal6@mailhub.org,2024-07-01,YouTube,North,UnknownPlan,Yes,40,male
...,...,...,...,...,...,...,...,...,...,...
294,CUST00294,Mrs. Jessica Smith,mrs.94@example.com,2024-10-21,Google,South,PRO,Yes,29,Other
295,CUST00295,Gary Smith,gary95@example.com,2024-10-22,Google,West,PREMIUM,Yes,40,
296,CUST00296,Anthony Roberts,anthony96@mailhub.org,2024-10-23,Google,Central,Basic,Yes,25,Female
298,CUST00298,Justin Mcintyre,justin98@mailhub.org,2024-10-25,YouTube,South,Premium,No,53,male
299,CUST00299,Mr. Bruce Bridges,mr.99@example.com,2024-10-26,,North,Premium,Yes,29,Male

In [25]:
# Dropping the rows with empty values in the gender column 
for x in df.index: 
    if df.loc[x, "gender"] == '':
        df.drop(x, inplace = True)

df

,customer_id,name,email,signup_date,source,region,plan_selected,marketing_opt_in,age,gender
1,CUST00001,Nicole Stewart,nicole1@example.com,2024-02-01,LinkedIn,West,basic,Yes,29,Male
2,CUST00002,Rachel Allen,rachel2@example.com,2024-03-01,Google,North,PREMIUM,Yes,34,Non-Binary
4,CUST00004,,matthew4@mailhub.org,2024-05-01,LinkedIn,West,Premium,No,25,Other
5,CUST00005,John Gonzales,john5@mailhub.org,2024-06-01,Facebook,South,Premium,No,34,Other
6,CUST00006,Crystal Mason,crystal6@mailhub.org,2024-07-01,YouTube,North,UnknownPlan,Yes,40,male
...,...,...,...,...,...,...,...,...,...,...
293,CUST00293,Yvonne Harding,yvonne93@inboxmail.net,2024-10-20,Google,Central,Pro,Yes,34,male
294,CUST00294,Mrs. Jessica Smith,mrs.94@example.com,2024-10-21,Google,South,PRO,Yes,29,Other
296,CUST00296,Anthony Roberts,anthony96@mailhub.org,2024-10-23,Google,Central,Basic,Yes,25,Female
298,CUST00298,Justin Mcintyre,justin98@mailhub.org,2024-10-25,YouTube,South,Premium,No,53,male
299,CUST00299,Mr. Bruce Bridges,mr.99@example.com,2024-10-26,,North,Premium,Yes,29,Male

In [26]:
# Dropping the rows with empty values in the source column 
for x in df.index: 
    if df.loc[x, "source"] == '':
        df.drop(x, inplace = True)

df

,customer_id,name,email,signup_date,source,region,plan_selected,marketing_opt_in,age,gender
1,CUST00001,Nicole Stewart,nicole1@example.com,2024-02-01,LinkedIn,West,basic,Yes,29,Male
2,CUST00002,Rachel Allen,rachel2@example.com,2024-03-01,Google,North,PREMIUM,Yes,34,Non-Binary
4,CUST00004,,matthew4@mailhub.org,2024-05-01,LinkedIn,West,Premium,No,25,Other
5,CUST00005,John Gonzales,john5@mailhub.org,2024-06-01,Facebook,South,Premium,No,34,Other
6,CUST00006,Crystal Mason,crystal6@mailhub.org,2024-07-01,YouTube,North,UnknownPlan,Yes,40,male
...,...,...,...,...,...,...,...,...,...,...
292,CUST00292,Ellen Blair,ellen92@mailhub.org,2024-10-19,Google,East,UnknownPlan,None,40,Male
293,CUST00293,Yvonne Harding,yvonne93@inboxmail.net,2024-10-20,Google,Central,Pro,Yes,34,male
294,CUST00294,Mrs. Jessica Smith,mrs.94@example.com,2024-10-21,Google,South,PRO,Yes,29,Other
296,CUST00296,Anthony Roberts,anthony96@mailhub.org,2024-10-23,Google,Central,Basic,Yes,25,Female
298,CUST00298,Justin Mcintyre,justin98@mailhub.org,2024-10-25,YouTube,South,Premium,No,53,male

In [27]:
# Deleted the suffix from name column to bring uniformity
df["name"] = df["name"].str.strip("Mrs.Mr.")

df

,customer_id,name,email,signup_date,source,region,plan_selected,marketing_opt_in,age,gender
1,CUST00001,Nicole Stewart,nicole1@example.com,2024-02-01,LinkedIn,West,basic,Yes,29,Male
2,CUST00002,Rachel Allen,rachel2@example.com,2024-03-01,Google,North,PREMIUM,Yes,34,Non-Binary
4,CUST00004,,matthew4@mailhub.org,2024-05-01,LinkedIn,West,Premium,No,25,Other
5,CUST00005,John Gonzale,john5@mailhub.org,2024-06-01,Facebook,South,Premium,No,34,Other
6,CUST00006,Crystal Mason,crystal6@mailhub.org,2024-07-01,YouTube,North,UnknownPlan,Yes,40,male
...,...,...,...,...,...,...,...,...,...,...
292,CUST00292,Ellen Blai,ellen92@mailhub.org,2024-10-19,Google,East,UnknownPlan,None,40,Male
293,CUST00293,Yvonne Harding,yvonne93@inboxmail.net,2024-10-20,Google,Central,Pro,Yes,34,male
294,CUST00294,Jessica Smith,mrs.94@example.com,2024-10-21,Google,South,PRO,Yes,29,Other
296,CUST00296,Anthony Robert,anthony96@mailhub.org,2024-10-23,Google,Central,Basic,Yes,25,Female
298,CUST00298,Justin Mcintyre,justin98@mailhub.org,2024-10-25,YouTube,South,Premium,No,53,male

In [28]:
# Make a copy before cleaning, as we need the count of inconsistent category values corrected (e.g; PRO --> Pro)
df['plan_selected_before'] = df['plan_selected']
df['plan_selected_before']

1            basic
2          PREMIUM
4          Premium
5          Premium
6      UnknownPlan
          ...
292    UnknownPlan
293            Pro
294            PRO
296          Basic
298        Premium
Name: plan_selected_before, Length: 210, dtype: object

In [29]:
# Standarising inconsistent text values
# for the column 'plan_selected'

df['plan_selected'] = df['plan_selected'].str.replace('PREMIUM', 'Premium')
df['plan_selected'] = df['plan_selected'].str.replace('prem', 'Premium')
df['plan_selected'] = df['plan_selected'].str.replace('basic', 'Basic')
df['plan_selected'] = df['plan_selected'].str.replace('BASIC', 'Basic')
df['plan_selected'] = df['plan_selected'].str.replace('PRO', 'Pro')

df

,customer_id,name,email,signup_date,source,region,plan_selected,marketing_opt_in,age,gender,plan_selected_before
1,CUST00001,Nicole Stewart,nicole1@example.com,2024-02-01,LinkedIn,West,Basic,Yes,29,Male,basic
2,CUST00002,Rachel Allen,rachel2@example.com,2024-03-01,Google,North,Premium,Yes,34,Non-Binary,PREMIUM
4,CUST00004,,matthew4@mailhub.org,2024-05-01,LinkedIn,West,Premium,No,25,Other,Premium
5,CUST00005,John Gonzale,john5@mailhub.org,2024-06-01,Facebook,South,Premium,No,34,Other,Premium
6,CUST00006,Crystal Mason,crystal6@mailhub.org,2024-07-01,YouTube,North,UnknownPlan,Yes,40,male,UnknownPlan
...,...,...,...,...,...,...,...,...,...,...,...
292,CUST00292,Ellen Blai,ellen92@mailhub.org,2024-10-19,Google,East,UnknownPlan,None,40,Male,UnknownPlan
293,CUST00293,Yvonne Harding,yvonne93@inboxmail.net,2024-10-20,Google,Central,Pro,Yes,34,male,Pro
294,CUST00294,Jessica Smith,mrs.94@example.com,2024-10-21,Google,South,Pro,Yes,29,Other,PRO
296,CUST00296,Anthony Robert,anthony96@mailhub.org,2024-10-23,Google,Central,Basic,Yes,25,Female,Basic
298,CUST00298,Justin Mcintyre,justin98@mailhub.org,2024-10-25,YouTube,South,Premium,No,53,male,Premium

In [30]:
print("Before:\n", df['plan_selected_before'].value_counts())
print("\nAfter:\n", df['plan_selected'].value_counts())

Before:
 Premium        44
Pro            37
Basic          35
basic          34
PRO            29
PREMIUM        26
UnknownPlan     4
prem            1
Name: plan_selected_before, dtype: int64

After:
 Premium        71
Basic          69
Pro            66
UnknownPlan     4
Name: plan_selected, dtype: int64

In [31]:
# Similarly for the gender column 
# Make a copy before cleaning, as we need the count of inconsistent category values corrected (e.g; FEMALE --> female)
df['gender_before'] = df['gender']
df['gender_before']

1            Male
2      Non-Binary
4           Other
5           Other
6            male
          ...
292          Male
293          male
294         Other
296        Female
298          male
Name: gender_before, Length: 210, dtype: object

In [32]:
# Standarising inconsistent text values 
# for the column 'gender'

df['gender'] = df['gender'].str.replace('FEMALE', 'female')
df['gender'] = df['gender'].str.replace('Female', 'female')
df['gender'] = df['gender'].str.replace('MALE', 'male')
df['gender'] = df['gender'].str.replace('Male', 'male')
df['gender'] = df['gender'].str.replace('123', 'Other')

df

,customer_id,name,email,signup_date,source,region,plan_selected,marketing_opt_in,age,gender,plan_selected_before,gender_before
1,CUST00001,Nicole Stewart,nicole1@example.com,2024-02-01,LinkedIn,West,Basic,Yes,29,male,basic,Male
2,CUST00002,Rachel Allen,rachel2@example.com,2024-03-01,Google,North,Premium,Yes,34,Non-Binary,PREMIUM,Non-Binary
4,CUST00004,,matthew4@mailhub.org,2024-05-01,LinkedIn,West,Premium,No,25,Other,Premium,Other
5,CUST00005,John Gonzale,john5@mailhub.org,2024-06-01,Facebook,South,Premium,No,34,Other,Premium,Other
6,CUST00006,Crystal Mason,crystal6@mailhub.org,2024-07-01,YouTube,North,UnknownPlan,Yes,40,male,UnknownPlan,male
...,...,...,...,...,...,...,...,...,...,...,...,...
292,CUST00292,Ellen Blai,ellen92@mailhub.org,2024-10-19,Google,East,UnknownPlan,None,40,male,UnknownPlan,Male
293,CUST00293,Yvonne Harding,yvonne93@inboxmail.net,2024-10-20,Google,Central,Pro,Yes,34,male,Pro,male
294,CUST00294,Jessica Smith,mrs.94@example.com,2024-10-21,Google,South,Pro,Yes,29,Other,PRO,Other
296,CUST00296,Anthony Robert,anthony96@mailhub.org,2024-10-23,Google,Central,Basic,Yes,25,female,Basic,Female
298,CUST00298,Justin Mcintyre,justin98@mailhub.org,2024-10-25,YouTube,South,Premium,No,53,male,Premium,male

In [33]:
print("Before: \n", df['gender_before'].value_counts())
print("After: \n", df['gender'].value_counts())

Before:
 Other         44
FEMALE        40
male          35
Male          32
Non-Binary    28
Female        26
123            5
Name: gender_before, dtype: int64
After:
 male          67
female        66
Other         49
Non-Binary    28
Name: gender, dtype: int64

In [34]:
# The index values are not in order, so we must re-order that 
df = df.reset_index(drop = True)
print("Formatted dataset after all cleaning activity \n")
df

Formatted dataset after all cleaning activity

,customer_id,name,email,signup_date,source,region,plan_selected,marketing_opt_in,age,gender,plan_selected_before,gender_before
0,CUST00001,Nicole Stewart,nicole1@example.com,2024-02-01,LinkedIn,West,Basic,Yes,29,male,basic,Male
1,CUST00002,Rachel Allen,rachel2@example.com,2024-03-01,Google,North,Premium,Yes,34,Non-Binary,PREMIUM,Non-Binary
2,CUST00004,,matthew4@mailhub.org,2024-05-01,LinkedIn,West,Premium,No,25,Other,Premium,Other
3,CUST00005,John Gonzale,john5@mailhub.org,2024-06-01,Facebook,South,Premium,No,34,Other,Premium,Other
4,CUST00006,Crystal Mason,crystal6@mailhub.org,2024-07-01,YouTube,North,UnknownPlan,Yes,40,male,UnknownPlan,male
...,...,...,...,...,...,...,...,...,...,...,...,...
205,CUST00292,Ellen Blai,ellen92@mailhub.org,2024-10-19,Google,East,UnknownPlan,None,40,male,UnknownPlan,Male
206,CUST00293,Yvonne Harding,yvonne93@inboxmail.net,2024-10-20,Google,Central,Pro,Yes,34,male,Pro,male
207,CUST00294,Jessica Smith,mrs.94@example.com,2024-10-21,Google,South,Pro,Yes,29,Other,PRO,Other
208,CUST00296,Anthony Robert,anthony96@mailhub.org,2024-10-23,Google,Central,Basic,Yes,25,female,Basic,Female
209,CUST00298,Justin Mcintyre,justin98@mailhub.org,2024-10-25,YouTube,South,Premium,No,53,male,Premium,male

SUMMARY OUTPUTS USING PANDAS AGGREGATION:

In [35]:
# Groupby() syntax 
# df.groupby(by_column)[target_column].agg_function()

In [36]:
# Sign-ups by source
df1 = df.groupby('source')['customer_id'].count()
print("Number of Sign-ups by source \n")
df1

Number of Sign-ups by source

source
??            5
Facebook     27
Google       34
Instagram    37
LinkedIn     32
Referral     32
YouTube      43
Name: customer_id, dtype: int64

In [37]:
# Sign-ups by region
df2 = df.groupby('region')['customer_id'].count()
print("Number of Sign-ups by region \n")
df2

Number of Sign-ups by region

region
Central    30
East       50
North      47
South      48
West       35
Name: customer_id, dtype: int64

In [38]:
# Sign-ups by plan_selected
df3 = df.groupby('plan_selected')['customer_id'].count()
print("Number of Sign-ups by plan_selected \n")
df3

Number of Sign-ups by plan_selected

plan_selected
Basic          69
Premium        71
Pro            66
UnknownPlan     4
Name: customer_id, dtype: int64

In [39]:
# Marketing opt-in counts by gender
df4 = df.groupby('marketing_opt_in')['gender'].value_counts().unstack(fill_value = 0)
print("Marketing opt-in counts by gender \n")
df4

Marketing opt-in counts by gender

gender            Non-Binary  Other  female  male
marketing_opt_in
                           2      3       1     2
No                        14     26      34    36
None                       0      0       0     1
Yes                       12     20      31    28

In [40]:
# Sign-ups per week
signups_per_week = df.groupby(df['signup_date'].dt.to_period('W')).size()
print(signups_per_week)

signup_date
2024-01-01/2024-01-07    4
2024-01-08/2024-01-14    4
2024-01-15/2024-01-21    6
2024-01-22/2024-01-28    4
2024-01-29/2024-02-04    8
2024-02-05/2024-02-11    3
2024-02-12/2024-02-18    4
2024-02-19/2024-02-25    4
2024-02-26/2024-03-03    3
2024-03-04/2024-03-10    4
2024-03-11/2024-03-17    3
2024-03-18/2024-03-24    4
2024-03-25/2024-03-31    4
2024-04-01/2024-04-07    5
2024-04-08/2024-04-14    4
2024-04-15/2024-04-21    6
2024-04-22/2024-04-28    6
2024-04-29/2024-05-05    5
2024-05-06/2024-05-12    2
2024-05-13/2024-05-19    5
2024-05-20/2024-05-26    5
2024-05-27/2024-06-02    6
2024-06-03/2024-06-09    5
2024-06-10/2024-06-16    4
2024-06-17/2024-06-23    5
2024-06-24/2024-06-30    6
2024-07-01/2024-07-07    6
2024-07-08/2024-07-14    4
2024-07-15/2024-07-21    4
2024-07-22/2024-07-28    5
2024-07-29/2024-08-04    7
2024-08-05/2024-08-11    4
2024-08-12/2024-08-18    3
2024-08-19/2024-08-25    4
2024-08-26/2024-09-01    5
2024-09-02/2024-09-08    5
2024-09-09/2024-09-15    4
2024-09-16/2024-09-22    4
2024-09-23/2024-09-29    3
2024-09-30/2024-10-06    5
2024-10-07/2024-10-13    5
2024-10-14/2024-10-20    5
2024-10-21/2024-10-27    3
2024-10-28/2024-11-03    2
2024-11-04/2024-11-10    4
2024-11-25/2024-12-01    1
2024-12-02/2024-12-08    5
2024-12-09/2024-12-15    2
Freq: W-SUN, dtype: int64

# BUSINESS QUESTIONS

In [41]:
# 1. Which aquisition source brought in the most users last month?

# Sign-ups per month
df_signups_per_month = df.groupby([df['signup_date'].dt.to_period('M'), 'source']).size().unstack(fill_value = 0)
df_signups_per_month

source       ??  Facebook  Google  Instagram  LinkedIn  Referral  YouTube
signup_date
2024-01       0         1       4          4         3         4        5
2024-02       1         2       2          1         4         5        2
2024-03       1         3       3          3         3         0        4
2024-04       0         4       2          5         3         5        3
2024-05       0         1       4          5         6         4        1
2024-06       0         4       4          1         1         3        8
2024-07       1         1       3          6         1         3        7
2024-08       0         4       2          4         1         2        6
2024-09       2         3       1          1         6         3        2
2024-10       0         2       7          3         2         1        2
2024-11       0         1       2          1         1         1        0
2024-12       0         1       0          3         1         1        2

From this, we infer that in the last month of 2024, Instagram source bought in more number of users.

In [42]:
# 2. Which region shows signs of missing or incomplete data?
# Code steps are at the beginning of the code, as we needed the unfiltered dataframe with NaN values

In [43]:
# Displaying the dataframe again
df

,customer_id,name,email,signup_date,source,region,plan_selected,marketing_opt_in,age,gender,plan_selected_before,gender_before
0,CUST00001,Nicole Stewart,nicole1@example.com,2024-02-01,LinkedIn,West,Basic,Yes,29,male,basic,Male
1,CUST00002,Rachel Allen,rachel2@example.com,2024-03-01,Google,North,Premium,Yes,34,Non-Binary,PREMIUM,Non-Binary
2,CUST00004,,matthew4@mailhub.org,2024-05-01,LinkedIn,West,Premium,No,25,Other,Premium,Other
3,CUST00005,John Gonzale,john5@mailhub.org,2024-06-01,Facebook,South,Premium,No,34,Other,Premium,Other
4,CUST00006,Crystal Mason,crystal6@mailhub.org,2024-07-01,YouTube,North,UnknownPlan,Yes,40,male,UnknownPlan,male
...,...,...,...,...,...,...,...,...,...,...,...,...
205,CUST00292,Ellen Blai,ellen92@mailhub.org,2024-10-19,Google,East,UnknownPlan,None,40,male,UnknownPlan,Male
206,CUST00293,Yvonne Harding,yvonne93@inboxmail.net,2024-10-20,Google,Central,Pro,Yes,34,male,Pro,male
207,CUST00294,Jessica Smith,mrs.94@example.com,2024-10-21,Google,South,Pro,Yes,29,Other,PRO,Other
208,CUST00296,Anthony Robert,anthony96@mailhub.org,2024-10-23,Google,Central,Basic,Yes,25,female,Basic,Female
209,CUST00298,Justin Mcintyre,justin98@mailhub.org,2024-10-25,YouTube,South,Premium,No,53,male,Premium,male

In [44]:
# 3. Are older users more or less likely to opt in to marketing?
df['age'] = df['age'].str.replace('unknown', '')
df['age'] = df['age'].str.replace('thirty', '30')
df['age']

0      29
1      34
2      25
3      34
4      40
       ..
205    40
206    34
207    29
208    25
209    53
Name: age, Length: 210, dtype: object

In [45]:
# Dropping the empty entries from the age column 
for x in df.index:
    if df.loc[x, "age"] == '':
        df.drop(x, inplace = True)
        
df

,customer_id,name,email,signup_date,source,region,plan_selected,marketing_opt_in,age,gender,plan_selected_before,gender_before
0,CUST00001,Nicole Stewart,nicole1@example.com,2024-02-01,LinkedIn,West,Basic,Yes,29,male,basic,Male
1,CUST00002,Rachel Allen,rachel2@example.com,2024-03-01,Google,North,Premium,Yes,34,Non-Binary,PREMIUM,Non-Binary
2,CUST00004,,matthew4@mailhub.org,2024-05-01,LinkedIn,West,Premium,No,25,Other,Premium,Other
3,CUST00005,John Gonzale,john5@mailhub.org,2024-06-01,Facebook,South,Premium,No,34,Other,Premium,Other
4,CUST00006,Crystal Mason,crystal6@mailhub.org,2024-07-01,YouTube,North,UnknownPlan,Yes,40,male,UnknownPlan,male
...,...,...,...,...,...,...,...,...,...,...,...,...
205,CUST00292,Ellen Blai,ellen92@mailhub.org,2024-10-19,Google,East,UnknownPlan,None,40,male,UnknownPlan,Male
206,CUST00293,Yvonne Harding,yvonne93@inboxmail.net,2024-10-20,Google,Central,Pro,Yes,34,male,Pro,male
207,CUST00294,Jessica Smith,mrs.94@example.com,2024-10-21,Google,South,Pro,Yes,29,Other,PRO,Other
208,CUST00296,Anthony Robert,anthony96@mailhub.org,2024-10-23,Google,Central,Basic,Yes,25,female,Basic,Female
209,CUST00298,Justin Mcintyre,justin98@mailhub.org,2024-10-25,YouTube,South,Premium,No,53,male,Premium,male

In [46]:
# Converting age column string values into numeric column
df['age'] = pd.to_numeric(df['age'])

In [47]:
# Age summary
df5 = df['age']
print("Age summary \n", df5.describe())

Age summary
 count    206.000000
mean      36.941748
std       16.301624
min       21.000000
25%       25.000000
50%       34.000000
75%       40.000000
max      206.000000
Name: age, dtype: float64

In [48]:
# Splitting the dataframe into two - one for ages below 50 and the other for ages above 50
df['age_group'] = df['age'].apply(lambda x: 'Below 50' if x < 50 else '50 and Above')

grouped = df.groupby('age_group')

# Access each group
below_50 = grouped.get_group('Below 50')
above_50 = grouped.get_group('50 and Above')
above_50

,customer_id,name,email,signup_date,source,region,plan_selected,marketing_opt_in,age,gender,plan_selected_before,gender_before,age_group
5,CUST00007,ichael Bailey,michael7@mailhub.org,2024-08-01,YouTube,Central,Pro,Yes,60,Other,Pro,Other,50 and Above
14,CUST00017,Patty Paul,patty17@inboxmail.net,2024-01-18,YouTube,East,Pro,No,53,Non-Binary,PRO,Non-Binary,50 and Above
34,CUST00046,Luke Crane,luke46@inboxmail.net,2024-02-16,Facebook,North,Pro,Yes,60,female,PRO,FEMALE,50 and Above
41,CUST00060,Steven Allen,steven60@inboxmail.net,2024-01-03,LinkedIn,East,Basic,No,53,female,Basic,FEMALE,50 and Above
42,CUST00061,Chelsey Ford,chelsey61@inboxmail.net,2024-02-03,LinkedIn,North,Pro,No,53,female,PRO,FEMALE,50 and Above
43,CUST00064,Alyssa Griffith,alyssa64@inboxmail.net,2024-05-03,Referral,North,Pro,Yes,53,Other,PRO,Other,50 and Above
45,CUST00067,Thomas Brown IV,thomas67@mailhub.org,2024-08-03,Instagram,East,Premium,No,60,Other,Premium,Other,50 and Above
46,CUST00068,Jesus Cantu,jesus68@example.com,2024-09-03,Facebook,East,Pro,Yes,53,female,Pro,Female,50 and Above
52,CUST00075,Tamara Cook,tamara75@inboxmail.net,2024-03-16,LinkedIn,South,Basic,No,53,Non-Binary,basic,Non-Binary,50 and Above
57,CUST00083,Kathy Glove,kathy83@mailhub.org,2024-03-24,Google,East,Premium,No,60,Non-Binary,PREMIUM,Non-Binary,50 and Above
59,CUST00085,Sandra Caldwell,sandra85@example.com,2024-03-26,Instagram,North,Basic,No,60,male,Basic,male,50 and Above
60,CUST00086,Bryan Obrien,bryan86@inboxmail.net,2024-02-02,YouTube,East,Pro,Yes,53,male,Pro,male,50 and Above
76,CUST00109,argaret Franco,margaret9@example.com,2024-04-19,YouTube,East,Pro,,53,Non-Binary,Pro,Non-Binary,50 and Above
77,CUST00110,Katherine Dunlap,katherine10@example.com,2024-04-20,YouTube,East,Basic,No,60,female,Basic,FEMALE,50 and Above
78,CUST00111,Robert Horne,mr.11@example.com,2024-04-21,Instagram,North,Pro,Yes,53,male,Pro,male,50 and Above
86,CUST00122,Kristine Bake,kristine22@example.com,2024-02-05,Referral,South,Basic,Yes,53,Other,Basic,Other,50 and Above
88,CUST00124,Samuel Bautista,samuel24@example.com,2024-04-05,Facebook,West,Pro,Yes,60,Other,Pro,Other,50 and Above
102,CUST00143,Jodi Rodriguez,jodi43@example.com,2024-05-23,LinkedIn,Central,Premium,No,53,female,PREMIUM,Female,50 and Above
104,CUST00146,Dana Jone,dana46@mailhub.org,2024-05-26,Instagram,West,Basic,Yes,53,male,basic,Male,50 and Above
105,CUST00147,Dr. Danielle Snyde,dr.47@mailhub.org,2024-05-27,Referral,South,Pro,Yes,53,Other,Pro,123,50 and Above
108,CUST00150,Ryan Smith,ryan50@mailhub.org,2024-05-30,Instagram,North,Premium,No,53,Other,Premium,Other,50 and Above
110,CUST00152,Anthony Alvarado,anthony52@example.com,2024-01-06,YouTube,South,Basic,No,60,male,Basic,Male,50 and Above
112,CUST00155,Brandon Ashley,brandon55@mailhub.org,2024-04-06,LinkedIn,East,Pro,No,53,male,PRO,Male,50 and Above
117,CUST00163,Jacqueline Spea,jacqueline63@example.com,2024-12-06,Instagram,South,UnknownPlan,No,53,female,UnknownPlan,FEMALE,50 and Above
121,CUST00167,Jeffrey Salina,jeffrey67@mailhub.org,2024-06-16,YouTube,East,Pro,No,60,female,Pro,FEMALE,50 and Above
125,CUST00173,Heidi Mendez,heidi73@mailhub.org,2024-06-22,Facebook,East,Basic,Yes,53,female,basic,Female,50 and Above
127,CUST00175,Erika Elli,erika75@inboxmail.net,2024-06-24,YouTube,Central,Pro,Yes,53,male,Pro,male,50 and Above
132,CUST00181,Thomas Rose,thomas81@example.com,2024-06-30,YouTube,South,Basic,No,53,Non-Binary,basic,Non-Binary,50 and Above
147,CUST00201,Beverly Davi,beverly1@inboxmail.net,2024-07-20,Instagram,East,Premium,No,53,Other,PREMIUM,Other,50 and Above
150,CUST00204,Patricia Powe,patricia4@mailhub.org,2024-07-23,Referral,North,Basic,No,206,Other,basic,123,50 and Above
170,CUST00238,isty Blai,misty38@example.com,2024-08-26,Instagram,West,Premium,Yes,53,male,Premium,Male,50 and Above
181,CUST00254,ark Durham,mark54@mailhub.org,2024-11-09,Instagram,Central,Basic,No,53,female,Basic,FEMALE,50 and Above
190,CUST00266,Christopher Hawkin,christopher66@mailhub.org,2024-09-23,??,West,Basic,No,53,Other,Basic,Other,50 and Above
191,CUST00269,Brian Burke,brian69@inboxmail.net,2024-09-26,Facebook,East,Pro,Yes,53,Other,PRO,Other,50 and Above
204,CUST00291,Thomas Flore,thomas91@mailhub.org,2024-10-18,YouTube,South,Basic,No,60,female,basic,Female,50 and Above
209,CUST00298,Justin Mcintyre,justin98@mailhub.org,2024-10-25,YouTube,South,Premium,No,53,male,Premium,male,50 and Above

In [49]:
df_marketing = above_50.groupby('marketing_opt_in')['age'].count()
print("Marketing opt-in counts by older users \n")
df_marketing

Marketing opt-in counts by older users

marketing_opt_in
        1
No     21
Yes    14
Name: age, dtype: int64

In [50]:
# 4. Which plan is most commonly selected, and by which age group? 
df_plan_below50 = below_50.groupby('plan_selected')['age'].count()
print("Plans selected by users in the age category below_50: \n")
df_plan_below50

Plans selected by users in the age category below_50:

plan_selected
Basic          53
Premium        63
Pro            51
UnknownPlan     3
Name: age, dtype: int64

In [51]:
df_plan_above50 = above_50.groupby('plan_selected')['age'].count()
print("Plans selected by users in the age category above_50: \n")
df_plan_above50

Plans selected by users in the age category above_50:

plan_selected
Basic          13
Premium         7
Pro            15
UnknownPlan     1
Name: age, dtype: int64